@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white font-sans antialiased selection:bg-white/20;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}